body{
    background-color: whitesmoke;
    margin: 10% 4% 4% 4%;
}
.userContainer{
    display: flex;
    height: 25em;
    align-items: center;
    justify-content: center;
}
.invoiceContainer{
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: auto;
    display: inline-block;
}
.userProfile{
    border: 1px solid whitesmoke;
    display: flex;
    width: 60%;
    height: 100%;
}
.user{
    height: auto;
}
#picContainer{
    width: 40%;
    margin: 8% 0% 8% 3%;
    background-color: blanchedalmond;
    display: block;


}
#infoContainer{
    margin: 5% 2% 2% 2%;
    width: 60%;
    font-family: Nobile;
    font-size: 16px;
}
p{
    font-size: 22px;
}
img{
    position: relative;
    width: 100%;
    height: 100%;
}
.invoice{
    border: 1px solid black;
    margin: 6% 3% 0% 3%;
    padding: 2%;
    width: 250px;
    height: auto;
    
}
.invoice > p{
    position: relative;
    margin: 5px;
    left: 25%;
    font-size: 18px;
}
